@font-face {
    font-family: cormorant-garamond;
    src: url(./CormorantGaramond-Regular.ttf);
}
*{
    margin: 0rem;
    padding: 0rem;
    color: #4C2818;
    font-family: 'cormorant-garamond';
}

.container{
    display: flex;
    align-content: center;
    background-color: blanchedalmond;
    width: 100vw;
    height: 100vh;
}
.container .leftside{
    display: flex;
    width: 40vw;
}
.container .rightside{
    width: 60vw;
    background-color: #D5AA72;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.logo{
    width: 60vw;
    height: 30vh;
}
.container .rightside .text1{
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    padding-left: 0rem;
    font-family: 'cormorant-garamond';
}
.container .rightside .text2{
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    padding-left: 1.875rem;
    font-family: 'cormorant-garamond';
}

.container .rightside .text3{
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    padding-left: 1.25rem;
    font-family: 'cormorant-garamond';
}


.container .rightside .form1{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.938rem;
    margin-left: 10vw;
    font-size: 1.25rem;
    text-decoration: underline 1px;
    padding-top: 3vh;
    padding-left: 10vh;
    display: flex;
    width: 30vw;
    flex-direction: row;
    flex-wrap: wrap;

}
.container .rightside .form1 .input{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container .rightside .form1 .input :hover{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: black;
    border-style: solid;
}

button{
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.313rem;
    font-family: 'cormorant-garamond';
}
.container .rightside .form1 .inputbutton{
    display: flex;
    margin-left: 7vw;
    padding-top: 4vh;
    gap: 1.25rem;
}